---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4.5 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Sthenes é uma organização pioneira dedicada a promover o crescimento e o desenvolvimento de software de código aberto. Ao unir desenvolvedores, pesquisadores e entusiastas de todo o mundo, o Sthenes visa criar um ecossistema vibrante que estimule a inovação e garanta a sustentabilidade de projetos de código aberto.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      A missão da Sthenes é promover a criação, adoção e disseminação de software de código aberto. Acreditamos no poder da inteligência coletiva e na democratização da tecnologia.
      <a href="mailto:sthenes@proton.me" class="underline underline-offset-4">se você se interessou e quer particaipar não hesite em entrar contato. sthenes@proton.me</a>
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      Nossa visão é construir um futuro onde soluções de código aberto impulsionem o avanço tecnológico, criando oportunidades de aprendizagem, colaboração e crescimento econômico em todos os setores da sociedade.
      Os programas de mentoria também são um componente chave, conectando desenvolvedores experientes com recém-chegados para nutrir talentos e promover um ambiente de apoio.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
      Priorizamos pesquisas em áreas-chave como desenvolvimento e segurança de software, escalabilidade, otimização de desempenho e aplicações inovadoras de tecnologias de código aberto.
      </p>
    </div>
  </div>

</section>
